{% extends 'base.html.twig' %}

{% block title %}Jacadi - Réinitialisation du mot de passe
{% endblock %}

{% block og_title %}
	Jacadi - Réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-resetPassword" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">

			<div class="j-resetPassword__form">
				<div class="j-form" method="post">
					<h3 class="j-form__h3">Réinitialisation du mot de passe</h3>
					{# Dans twig permet de récupérer un formulaire {{form(nom du formulaire à récupérer)}}#}
					{{ form_start(requestPassForm) }}
					{{ form_row(requestPassForm.email) }}

					<div class="j-resetPassword__buttonParent">
						<button class="j-resetPassword__button" type="submit">
							Envoyer
						</button>
					</div>
					{{ form_end(requestPassForm) }}
				</div>
				<div class="j-resetPassword__form"></div>
			</div>
		</section>
	{% endblock %}
