{% extends 'base.html.twig' %}

{% block title %}Jacadi
{% endblock %}

{% block body %}

	<section class="j-section js-section js-page-content">
		<a class="j-ballon js-ballon" href="#">
			<img class="j-ballonContainer" src="{{ asset('images/icons/ballon129.png')}}">
		</a>
		<a class="j-ballon1 js-ballon1" href="#">
			<img class="j-ballonContainer1" src="{{ asset('images/icons/ballon1.png')}}">
		</a>
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-home" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="j-flashMessage js-flashMessage {{ label }}">
						<div>
							<strong>{{ message }}</strong>
						</div>
						<div class="j-flashIcon js-flashIcon">
							<i class="fa-solid fa-xmark"></i>
						</div>
					</div>
				{% endfor %}
			{% endfor %}

			<div class="j-homeGrid js-homeGrid">
				{% for category in categories %}
					{% if category.categoryOrder == 1 %}
						<div class="j-Card">
							<div class="j-Card-container">
								<img class="j-Card__media" src="{{ asset('images/medias/mediaHome/pexels-photo-235398.webp') }}" alt="jeune fille qui joue avec des feuilles séchées">
								<div class="j-Card__contentText">
									<div class="j-Card__containerlink">
										<a href="{{ path('products_index', {'slug': category.slug}) }}" class="j-Card__link">
											<p class="j-Card__title">{{ category.name }}</p>
											<p class="j-Card__textSize">(3-36 mois)</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% elseif category.categoryOrder == 2 %}
						<div class="j-Card">
							<div class="j-Card-container">
								<img class="j-Card__media" src="{{ asset('images/medias/mediaHome/pexels-photo-3154330.webp') }}" alt="fille assisse sur un fauteuil qui sourit">
								<div class="j-Card__contentText">
									<div class="j-Card__containerlink">
										<a href="{{ path('products_index', {'slug': category.slug}) }}" class="j-Card__link">
											<p class="j-Card__title">{{ category.name }}</p>
											<p class="j-Card__textSize">(2-14 ans)</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% elseif category.categoryOrder == 3 %}
						<div class="j-Card">
							<div class="j-Card-container">
								<img class="j-Card__media" src="{{ asset('images/medias/mediaHome/pexels-photo-15466102.webp') }}" alt="jeune garçon en salopette avec chapeau">
								<div class="j-Card__contentText">
									<div class="j-Card__containerlink">
										<a href="{{ path('products_index', {'slug': category.slug}) }}" class="j-Card__link">
											<p class="j-Card__title">{{ category.name }}</p>
											<p class="j-Card__textSize">(3-36 mois)</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% elseif category.categoryOrder == 4 %}
						<div class="j-Card">
							<div class="j-Card-container">
								<img class="j-Card__media" src="{{ asset('images/medias/mediaHome/pexels-photo-1427288.webp') }}" alt="visage garçon avec cheveux brun">
								<div class="j-Card__contentText">
									<div class="j-Card__containerlink">
										<a href="{{ path('products_index', {'slug': category.slug}) }}" class="j-Card__link">
											<p class="j-Card__title">{{ category.name }}</p>
											<p class="j-Card__textSize">(2-14 ans)</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="coupDeCoeur" class="j-section js-section j-coupDeCoeur" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}" alt="image-texture-cimentee">
		<h2 class="j-coupDeCoeur-h2">Nos Coups de Coeur</h2>
		<div class="j-coupDeCoeur-grid js-coupDeCoeurGrid">
			{% for category in categories %}
				{% if category.categoryOrder == 6 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/pexels-photo-4971312.webp')}}" alt="jeune fille couchée sur le dos parterre">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 't-shirts'}) }}">
							<p class="j-Card__title__shadow">{{ category.name }}/Pulls</p>
						</a>
					</div>
				{% elseif category.categoryOrder == 7 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/pexels-photo-3763588.webp')}}" alt="jeune fille avec cheveux crollés debout sur un lit">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 'robes'}) }}">
							<p class="j-Card__title__shadow">{{ category.name }}</p>
						</a>
					</div>
				{% elseif category.categoryOrder == 8 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/c407b2c2a69045bc9ed52467c17e22c6-thumbnail-0000000000_1024x.webp')}}" alt="jeune garçon assis avec chemise rayée">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 'chemises'}) }}">
							<p class="j-Card__title__shadow">{{ category.name}}</p>
						</a>
					</div>
				{% elseif category.categoryOrder == 9 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/TW15041-11_TW22131-44_1 (3).webp')}}" alt="jeune garçon qui se tient sur un mur avec pull rayé">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 'pantalons'}) }}">
							<p class="j-Card__title__shadow">{{ category.name}}</p>
						</a>
					</div>
				{% elseif category.categoryOrder == 10 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/jupe-de-ceremonie-a-fleurs-fille.webp')}}" alt="petite fille en robe">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 'jupes'}) }}">
							<p class="j-Card__title__shadow">{{ category.name}}</p>
						</a>
					</div>
				{% elseif category.categoryOrder == 11 %}
					<div class="j-Card__shadow">
						<img class="j-Card__media__shadow" src="{{ asset('images/medias/mediaCoupDeCoeur/portrait-grand-angle-enfant-souriant_23-2148222919.webp')}}" alt="petit garçon avec short et t-shirt rouge">
						<a class="j-Card__link__shadow" href="{{ path('products_index', {'slug': 'shorts'}) }}">
							<p class="j-Card__title__shadow">{{ category.name}}</p>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section id="notreUnivers" class="j-section js-section j-notreUnivers" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}" alt="image-texture-cimentee">

		<div class="j-notreUnivers-grid">
			<div class="j-gallery__item1">
				<img class="j-item1__media" src="{{ asset('images/medias/mediaNotreUnivers/pexels-photo-462578911.webp') }}" alt="petite fille avec un nounours">
			</div>
			<div class="j-gallery__item2">
				<div class="j-item2__contentParent">
					<div class="j-item2__content">
						<p class="j-item2__title">Jeune Entreprise...</p>
						<p class="j-item2__text">
							<strong>Jacadi</strong>, c'est l'histoire d'une jeune maman, ne trouvant pas ce dont elle avait besoin pour ses enfants.<br>
							Elle décida de favoriser son imaginaire pour que<br>
							<strong>ses enfants s'épanouissent</strong>
							au mieux.<br>
							C'est pour cela que depuis
							<strong>2021</strong>, nous imaginons dans nos ateliers des vêtements, des accessoires et même des jouets originaux, qui sont autant d'histoires merveilleuses à
							<strong>inventer, réinventer, jouer</strong>
							et
							<strong>raconter.</strong>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="j-notreUnivers-grid2">
			<div class="j-gallery__item3">
				<div class="j-item3__content">
					<div class="j-item3__blockquote">
						<p class="j-item3__text">
							"Le temps de l'enfance est précieux: il faut laisser les enfants être des enfants".
						</p>
						<p class="j-item3__footer">
							Maryline Zemmour<br>
							Fondatrice de Jacadi
						</p>
					</div>
				</div>
			</div>
			<div class="j-gallery__item4">
				<div class="j-item4__mediaParent">
					<img class="j-item4__media1" src="{{ asset('images/medias/mediaNotreUnivers/TW10001-01_TW26011-45_1024x.webp') }}" alt="petite fille qui sourit">
				</div>
				<div class="j-item4__mediaParent">
					<img class="j-item4__media2" src="{{ asset('images/medias/mediaNotreUnivers/pexels-photo-4641053.webp') }}" alt="petite fille assisse avec une pomme en main">
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="j-section j-contact js-section" style="background-image: url('{{ asset('images/backgroundImages/Y15023-43_TY12063-45_TY22003-01_TY32002-45_beeb890f-c84a-4ad.webp') }}" alt="image-jeuneFille">
		<div class="j-contact__contentParent">
			<div class="j-contact__content">
				<h2 class="j-contact__h2">Contact</h2>
				<form action="">
					<div class="j-form__inputParent">
						<label for="firstname"></label>
						<input class="j-form__input" type="text" placeholder="Nom">
					</div>
					<div class="j-form__inputParent">
						<label for="lastname"></label>
						<input class="j-form__input" type="text" placeholder="Prénom">
					</div>
					<div class="j-form__inputParent">
						<label for="e-mail"></label>
						<input class="j-form__input" type="text" placeholder="E-mail">
					</div>
					<div class="j-form__inputParent">
						<label for="message"></label>
						<textarea class="j-form__textarea" placeholder="Message"></textarea>
					</div>
					<button class="j-form__button">Envoyer</button>
				</form>
			</div>
		</div>
		<div class="j-prefooter-grid">
			<div class="j-prefooter__Card">
				<img class="j-prefooter__Card__media" src="{{ asset('images/icons/Telephone-01-256.png')}}" alt="phone icon">
				<div class="j-prefooter__Card__text">
					<p>Service Client</p>
					<p>+32(2) 411.58.37</p>
				</div>
			</div>
			<div class="j-prefooter__Card">
				<img class="j-prefooter__Card__media" src="{{ asset('images/icons/Mail-01-256(1).png')}}" alt="mail icon">
				<div class="j-prefooter__Card__text">
					<p>E-Mail :</p>
					<p>jacadi @ gmail.com</p>
				</div>
			</div>
			<div class="j-prefooter__Card">
				<img class="j-prefooter__Card__media" src="{{ asset('images/icons/Clock-01-256.png')}}" alt="clock icon">
				<div class="j-prefooter__Card__text">
					<p>Du Mardi au Samedi</p>
					<p>de 10h00 à 18h00</p>
				</div>
			</div>
			<div class="j-prefooter__Card">
				<img class="j-prefooter__Card__media" src="{{ asset('images/icons/Counting-Machine-256.png')}}" alt="couting machine icon">
				<div class="j-prefooter__Card__text">
					<p>Fourchette de Prix :</p>
					<img class="j-prefooter__Card__media2" src="{{asset('images/icons/Euro-256.png')}}" alt="euro money icon">
					<img class="j-prefooter__Card__media2" src="{{asset('images/icons/Euro-256.png')}}" alt="euro money icon">
				</div>
			</div>
		</div>
	</section>
{% endblock %}
