{% extends 'base.html.twig' %}

{% block title %}Jacadi - Inscription
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.jpg') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-loginRegister" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.jpeg') }}')">

			{% if app.user and app.user.isVerified == false %}
				<div class="j-flashMessage js-flashMessage">
					<div>
						<strong>Votre compte n'est pas activé</strong>,
						<a href="{{ path('resend_verif') }}">Renvoyez le lien d'activation</a>
					</div>
					<div class="j-flashIcon js-flashIcon">
						<i class="fa-solid fa-xmark"></i>
					</div>
				</div>
			{% endif %}

			<a href=" {{ path('home') }} " class="j-linkPage__Parent">
				<div class="j-linkPage">
					<i class="fa-solid fa-chevron-right j-linkPage__icon"></i>
					<p class="j-linkPage__text">Retour à l'accueil</p>
				</div>
			</a>
			<div class="j-loginRegister__form">
				<form class="j-form" method="post">
					<h3 class="j-form__h3">M'inscrire</h3>
					{{ form_errors(registrationForm) }}
					{{ form_start(registrationForm) }}

					{{ form_row(registrationForm.email) }}
					<div class="j-label">
						{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					</div>

					{{ form_row(registrationForm.validerLesConditionsDeConfidentialite) }}

					<div class="j-form__buttonParent">
						<button class="j-form__button" type="submit">M'inscrire</button>
					</div>

					<p class="j-form__text">Déjà inscrit(e) ?<a class="j-form__link" href=" {{ path('app_login')}}">Me connecter</a>
					</p>

					{{ form_end(registrationForm) }}
				</form>
			</div>
		</div>
	</section>
{% endblock %}
