<header class="js-change-background">
	<div class="j-headerContent">
		<nav>
			<ul>
				<li>
					<a class="js-change-color-a" href=" {{ path('home') }} ">Accueil</a>
				</li>
				<li class="j-sousMenu">
					<a class="js-change-color-a" href=" {{ path('home') }} ">&nbsp;Bébé&nbsp;
					</a>
					<ul class="js-change-background-sousMenus">
						<li class="js-change-background-sousMenusLi">
							<a class="js-change-color-a" href="{{ path('products_index', {'slug': 'bebe-fille'}) }}">Fille</a>
						</li>
						<li class="js-change-background-sousMenusLi">
							<a class="js-change-color-a" href=" {{ path('products_index', {'slug': 'bebe-garçon'}) }}"=>Garçon</a>
						</li>
					</ul>
				</li>
				<li class="j-sousMenu">
					<a class="js-change-color-a" href=" {{ path('home') }} ">Enfant</a>
					<ul class="js-change-background-sousMenus">
						<li class="js-change-background-sousMenusLi">
							<a class="js-change-color-a" href=" {{ path('products_index', {'slug': 'fille'})}} ">Fille</a>
						</li>
						<li class="js-change-background-sousMenusLi">
							<a class="js-change-color-a" href=" {{ path('products_index', {'slug': 'garcon'}) }}">Garçon</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="js-change-color-a" href=" {{ path('home')}}#coupDeCoeur ">Coup de Coeur</a>
				</li>
				<li>
					<a class="js-change-color-a" href=" {{ path('home')}}#notreUnivers ">Notre Univers</a>
				</li>
				<li>
					<a class="js-change-color-a" href=" {{ path('home')}}#contact ">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="j-headerIcon">
			<a href="{{ path('app_login')}}">
				<img class="j-accountIcon js-change-accountIconWhite" src="{{ asset('images/icons/Business-Man-Add-02-256.png')}}">

				<img class="j-accountIcon j-accountIconBlack js-change-accountIconBlack" src="{{ asset('images/icons/Business-Man-Add-02-2561.png')}}">
			</a>
			<a href="#">
				<img class="j-basketIcon js-change-basketIconWhite" src="{{ asset('images/icons/Basket-WF-256.png')}}">

				<img class="j-basketIcon j-basketIconBlack js-change-basketIconBlack" src="{{ asset('images/icons/Basket-WF-2561.png')}}">
			</a>
		</div>
	</div>
</header>

<div class="j-burger">
	<div class="j-burger-icon">
		<div class="j-burger-iconContainer">
			<span></span>
		</div>
	</div>

	<nav class="j-burger-nav">
		<ul>
			<li><a href=" {{ path('home') }} ">Accueil</a></li>
			<li><a href=" {{ path('products_index', {'slug': 'bebe-fille'}) }} ">Bébé Fille</a></li>
			<li><a href=" {{ path('products_index', {'slug': 'bebe-garcon'}) }} ">Bébé Garçon</a></li>
			<li><a href=" {{ path('products_index', {'slug': 'fille'}) }} ">Enfant Fille</a></li>
			<li><a href=" {{ path('products_index', {'slug': 'garcon'}) }} ">Enfant Garçon</a></li>
			<li><a href=" {{ path('home')}}#coupDeCoeur ">Coup de Coeur</a></li>
			<li><a href=" {{ path('home')}}#notreUnivers ">Notre Univers</a></li>
			<li><a href=" {{ path('home')}}#contact ">Contact</a></li>
			<li><a href="#">Mon Compte</a></li>
			<li><a href=" {{ path('app_login')}}">Connexion</a></li>
		</ul>
	</nav>
</div>
