{% extends 'base.html.twig' %}

{% block title %}Jacadi - Fille
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.jpg') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-products" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.jpeg') }}')">

			<div class="j-searchBar__Parent">
				<div class="j-searchBar">
					<input class="j-searchBar__input" type="text" placeholder="Veuillez insérer votre recherche">
					<button class="j-searchBar__button">
						<img class="j-searchBar__icon" src="{{ asset('images/icons/Magnifying-Glass-256.png')}}" alt="icone loupe pour la barre de recherche">
					</button>
				</div>
			</div>
			<a href=" {{ path('home') }} " class="j-linkPage__Parent">
				<div class="j-linkPage">
					<i class="fa-solid fa-chevron-right j-linkPage__icon"></i>
					<p class="j-linkPage__text">Fille</p>
				</div>
			</a>
			<div class="j-productsGrid">
				{% for product in products %}
					<div class="j-Card">
						<div class="j-Card-container">
							<img class="j-Card__media" src="{{ asset('images/medias/mediaProducts/' ~ product.image) }}" alt="petit garçon avec chemise rayée">
							<div class="j-Card__contentText">
								<div class="j-Card__containerlink">
									<a href=" {{ path('article_index') }} " class="j-Card__link">
										<p class="j-Card__title">{{product.name}}</p>
									</a>
									<div class="j-Card__footer">
										<i class="fa-solid fa-heart j-Card__icon"></i>
										<p class="j-Card__text">{{product.price}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
