{# Permet d'avoir un seul formulaire pour l'ajout et l'édition des produits #}
{{ form_start(productForm) }}
{{ form_row(productForm.name) }}
{{ form_row(productForm.categories) }}

<div class="formPrice">
	{{ form_row(productForm.price) }}
	<span class="euro-symbol">€</span>
</div>

{{ form_label(productForm.stocks) }}

<div id="stocks-wrapper">
	{% for stockForm in productForm.stocks %}
		<div class="stock-form">
			{{ form_row(stockForm.size) }}
			{{ form_row(stockForm.stockProducts) }}
		</div>
	{% endfor %}
</div>

<div class="image-input">
	{{ form_row(productForm.image) }}
</div>
<div id="image-preview-container">
	{% if product.image %}
		<img class="j-Card__media" id="image-preview" src="{{ asset('images/medias/mediaProducts/' ~ product.image) }}" alt="Aperçu de l'image ajoutée" style="max-width: 200px; max-height: 200px;"/>
	{% else %}
		<img id="image-preview" src="{{ asset('images/medias/mediaProducts/' ~ product.image) }}" alt="Aperçu de l'image modifiée" style="display: none; max-width: 200px; max-height: 200px;"/>
	{% endif %}
</div>
{{ form_row(productForm.content) }}
{{ form_row(productForm.composition) }}
{{ form_row(productForm.advices) }}
{{ form_row(productForm.eco) }}
<div class="j-dashboard__buttonParent">
	<button class="j-dashboard__button" type="submit">
		{{ button_label | default('Ajouter') }}
	</button>
</div>
{{ form_end(productForm) }}
