{# Permet d'avoir un seul formulaire pour l'ajout et l'édition des produits #}
{{ form_start(productForm) }}
{{ form_row(productForm.name) }}
{{ form_row(productForm.categories) }}
<div class="formPrice">
	{{ form_row(productForm.price) }}
	<span class="euro-symbol">€</span>
</div>
{{ form_row(productForm.image, {
            'attr': {
                'class': 'image-input',
                'onchange': 'previewImage(event)'
            }
        }) }}
<div id="image-preview-container">
	{% if product.image %}
		<img id="image-preview" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Aperçu de l'image" style="max-width: 200px; max-height: 200px;"/>
	{% else %}
		<img id="image-preview" src="" alt="Aperçu de l'image" style="display: none; max-width: 200px; max-height: 200px;"/>
	{% endif %}
</div>
{{ form_row(productForm.content) }}
{{ form_row(productForm.composition) }}
{{ form_row(productForm.advices) }}
{{ form_row(productForm.eco) }}
<div class="j-dashboard__buttonParent">
	<button class="j-dashboard__button" type="submit">
		{{ button_label | default('Ajouter') }}
	</button>
</div>
{{ form_end(productForm) }}


<script>
	function previewImage(event) {
const input = event.target;
const reader = new FileReader();
reader.onload = function () {
const imgElement = document.getElementById('image-preview');
imgElement.src = reader.result;
imgElement.style.display = 'block';
};
reader.readAsDataURL(input.files[0]);
}
</script>
