{% extends 'base.html.twig' %}

{% block title %}Jacadi - Ajout de produits
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-dashboard" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="j-flashMessage js-flashMessage {{ label }}">
						<div>
							<strong>{{ message }}</strong>
						</div>
						<div class="j-flashIcon js-flashIcon">
							<i class="fa-solid fa-xmark"></i>
						</div>
					</div>
				{% endfor %}
			{% endfor %}

			<div class="j-dashboard__form">
				<div class="j-form" method="post">
					<h3 class="j-form__h3">Ajout de Produits - Dashboard</h3>
					{% include "admin/products/_form.html.twig" %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
