{% extends 'base.html.twig' %}

{% block title %}Jacadi - Modifier des utilisateurs
{% endblock %}

{% block og_title %}
	Jacadi - Modifier des utilisateurs
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-dashboard" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="j-flashMessage js-flashMessage {{ label }}">
						<div>
							<strong>{{ message }}</strong>
						</div>
						<div class="j-flashIcon js-flashIcon">
							<i class="fa-solid fa-xmark"></i>
						</div>
					</div>
				{% endfor %}
			{% endfor %}

			<div class="j-dashboard__form">
				<div class="j-form" method="post">
					<a href=" {{ path('admin_index') }} " class="j-linkPage__Parent">
						<div class="j-linkPage">
							<i class="fa-solid fa-chevron-right j-linkPage__icon"></i>
							<p class="j-linkPage__text">Retour à la page Admin</p>
						</div>
					</a>
					<h3 class="j-form__h3">Ajout d' Utilisateurs - Dashboard</h3>
					{{ form_start(userForm) }}
					{{ form_row(userForm.email) }}
					{{ form_row(userForm.roles) }}
					{{ form_row(userForm.lastname) }}
					{{ form_row(userForm.firstname) }}
					{{ form_row(userForm.password) }}
					{{ form_row(userForm.is_verified) }}
					<div class="j-dashboard__buttonParent">
						<button class="j-dashboard__button" type="submit">
							Modifier
						</button>
					</div>
					{{ form_end(userForm) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
