<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="title" content="Jacadi">
		<meta name="description" content="Jacadi référence de la mode enfantine afin de répondre aux besoins des tous petits">
		<meta property="og:title" content="{% block og_title %}Jacadi{% endblock %}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{ absolute_url(asset('images/backgroundImages/doudou2.webp')) }}">
		<meta property="og:image:width" content="1600">
		<meta property="og:image:height" content="1104">
		<meta property="og:url" content="https://jacadi.audrey-sonkes.be/">
		<meta property="og:description" content="Jacadi est ">
		<meta property="og:locale" content="fr_FR">
		<meta property="og:site_name" content="Jacadi">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Jacadi">
		<meta name="twitter:description" content="Jacadi référence de la mode enfantine afin de répondre aux besoins des tous petits">
		<meta name="twitter:image" content="{{ absolute_url(asset('images/twitterImages/doudou2.webp')) }}">

		<title>
			{% block title %}Jacadi
			{% endblock %}
		</title>

		<script src="https://kit.fontawesome.com/2cbf82340f.js" crossorigin="anonymous"></script>

		<link rel="icon" href="{{ asset('images/icons/jacadi_icone.ico') }}" type="image/x-icon">
		{% block stylesheets %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{{ encore_entry_link_tags('app') }}
	</head>

	<body>
		{% include "partials/header.html.twig" %}

		{% block body %}{% endblock %}
		<script type="text/javascript">
			var _iub = _iub || [];
_iub.csConfiguration = {
"askConsentAtCookiePolicyUpdate": true,
"floatingPreferencesButtonDisplay": "bottom-left",
"lang": "fr",
"perPurposeConsent": true,
"preferenceCookie": {
"expireAfter": 180
},
"siteId": 3683578,
"whitelabel": false,
"cookiePolicyId": 62903451,
"banner": {
"acceptButtonDisplay": true,
"closeButtonDisplay": false,
"customizeButtonDisplay": true,
"explicitWithdrawal": true,
"listPurposes": true,
"ownerName": "jacadi.audrey-sonkes.be/",
"position": "float-top-center",
"rejectButtonDisplay": true,
"showTitle": false,
"showTotalNumberOfProviders": true
}
};
		</script>
		<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3683578.js"></script>
		<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

		{% include "partials/footer.html.twig" %}

		<div id="App"></div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html></body></html>
