{% extends 'base.html.twig' %}

{% block title %}Jacadi - Article
{% endblock %}

{% block og_title %}
	Jacadi - Article
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-articles" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">
			<a href=" {{ path('home') }} " class="j-linkPage__Parent">
				<div class="j-linkPage">
					<i class="fa-solid fa-chevron-right j-linkPage__icon"></i>
					<p class="j-linkPage__text">Retour</p>
				</div>
			</a>
			<div class="j-articlesGrid">
				<div class="j-CardPair">
					<div class="j-CardPair-container">
						<img class="j-CardPair__media" src="{{ asset('images/medias/mediaProducts/' ~ product.image) }}" alt="{{product.name}}">
					</div>
				</div>
				<div class="j-CardPair">
					<div class="j-CardPair-container1">
						<div class="j-CardPair__contentTextParent">
							<div class="j-CardPair__contentText">
								<p class="j-CardPair__title">{{product.name}}</p>
								<div class="j-accordion">
									<div class="j-accordion__block">
										<p class="j-accordion__title">Description</p>
										<a href="#">
											<i class="fa-solid fa-chevron-right j-accordion__icon"></i>
										</a>
									</div>
									<p class="j-accordion__text">{{product.content}}</p>
								</div>
								<div class="j-accordion">
									<div class="j-accordion__block">
										<p class="j-accordion__title">Composition</p>
										<a href="#">
											<i class="fa-solid fa-chevron-right j-accordion__icon"></i>
										</a>
									</div>
									<p class="j-accordion__text">{{product.composition}}</p>
								</div>
								<div class="j-accordion">
									<div class="j-accordion__block">
										<p class="j-accordion__title">Conseils d'entretien</p>
										<a href="#">
											<i class="fa-solid fa-chevron-right j-accordion__icon"></i>
										</a>
									</div>
									<p class="j-accordion__text">{{product.advices}}</p>
								</div>
								<div class="j-accordion">
									<div class="j-accordion__block">
										<p class="j-accordion__title">Articles responsables</p>
										<a href="#">
											<i class="fa-solid fa-chevron-right j-accordion__icon"></i>
										</a>
									</div>
									<p class="j-accordion__text">{{product.eco}}</p>
								</div>
							</div>
							<div class="j-CardPair__buttonParent">
								<button class="j-CardPair__button js-CardPair__button" type="submit">
									Choisir sa taille
								</button>
								<button class="j-CardPair__button" type="submit">
									Ajouter au panier
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="popUpSize" class="j-popUp__size js-crossDivParent">
			<div class="j-popUp js-crossDiv">
				<div class="j-popUp__item1">
					<p class="j-popUp__text">Choisir une Taille</p>
					<div class="j-popUp__icon js-popUp__icon">
						<i class="fa-solid fa-xmark"></i>
					</div>
				</div>
				<div class="j-popUp__item2">
					<p class="j-popUp__item2__item">3 ans</p>
					<p class="j-popUp__item2__item">4 ans</p>
					<p class="j-popUp__item2__item">5 ans</p>
					<p class="j-popUp__item2__item">6 ans</p>
					<p class="j-popUp__item2__item">7 ans</p>
					<p class="j-popUp__item2__item">8 ans</p>
					<p class="j-popUp__item2__item">9 ans</p>
					<p class="j-popUp__item2__item">10 ans</p>
					<p class="j-popUp__item2__item">11 ans</p>
					<p class="j-popUp__item2__item">12 ans</p>
				</div>
				{# Doit être changer par la suite, juste un début ==> voir raisonnement avec base de données #}
				{#
																				<div>
																					{% if product.stock > 0 %}
																						<a href="#">Ajouter au panier</a>
																					{% else %}
																						<p>Temporairement en rupture de stock</p>
																					{% endif %}
																				</div>
																				#}
			</div>
		</div>
	</section>
{% endblock %}
